*{
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    display: flex;
    min-height: 600px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    height: 75vh;
}
.calculator{
    padding: 20px;
    background-color: grey;
    width: 400px;
    height: 600px;
    border-radius: 8px;
}
button{
    font-size: 24px;
    width: 80px;
    height: 80px;
    justify-self: center;
    text-align: center;
    
}
.screen-last{
    height: 20px;
    background-color: rgb(214, 214, 214);
}
.screen-current{
    background-color: rgb(167, 166, 166);
    min-height: 53px;
    font-size: 32px;
    text-align: right;
    padding: 8px;
    overflow-wrap: break-word;
}
.buttons{
    padding-top: 32px;
    display: grid;
    grid-template-columns: repeat( 4 , 1fr);
    gap: 8px;
}
.clear-buttons{
    padding-top: 18px;
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 16px;
}
.clear-buttons > button{
    flex: 1;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    font-size: 18px;
}